---
import SiteLayout from "../layouts/SiteLayout.astro";

// Get the Backend User object when you need access to the user's information
const user = await Astro.locals.currentUser();
import CopyLinkWithFeedback from "../components/CopyLinkWithFeedback.tsx";


const res = await fetch("/api/messages/user", {
    headers: {Authorization: `Bearer ${Astro.cookies.get("__session")?.value}`},
});

const mensajes = res.ok ? await res.json() : [];
const now = new Date();
---
<SiteLayout>
    <h2 class="text-2xl font-semibold mb-6">📜 Tus mensajes temporales</h2>
    <MessageList messages={mensajes}/>
</SiteLayout>