---
import {SignedIn, SignedOut, UserButton, SignInButton} from "@clerk/astro/components";
const {title} = Astro.props;

// Get the Backend User object when you need access to the user's information
const user = await Astro.locals.currentUser()

import "../styles/global.css";

import Sidebar from "../components/Sidebar";
import OnboardingModal from "../components/Onboarding"; // React
---

<html lang="es" class="scroll-smooth">
<head>
    <slot name="head" />
</head>
<body class="min-h-screen bg-zinc-950 text-white">
<Sidebar />
<main class="p-6">
    <slot />
    <OnboardingModal client:load />
</main>
</body>
</html>